<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">#}
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style></style>
    {% block css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

<script src="/static/layui/layui.all.js"></script>
<script>
    layui.use(['layer', 'upload', 'laydate', 'table', 'tree', 'util'], function () {
        window.layer = layui.layer;
        window.upload = layui.upload;
        window.laydate = layui.laydate;
        window.table = layui.table;
        window.tree = layui.tree;
        window.util = layui.util;
        window.$ = layui.$;
    });
</script>
{% block js %}{% endblock %}
</body>
</html>