{% load simple_tags %}
<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item {% left_is_active request.path_info '/' %}">
        <a href="/">
            <i class="layui-icon"></i> 用户中心
        </a>
    </li>
    <li class="layui-nav-item {% left_is_active request.path_info '/user/set' %}">
        <a href="/user/set">
            <i class="layui-icon"></i> 基本设置
        </a>
    </li>
    <li class="layui-nav-item {% left_is_active request.path_info '/user/message' %}">
        <a href="/user/message">
            <i class="layui-icon"></i> 我的项目
        </a>
    </li>
    <li class="layui-nav-item {% left_is_active request.path_info '/project/market' %}">
        <a href="/project/market">
            <i class="layui-icon layui-icon-component"></i> 项目市场
        </a>
    </li>
</ul>