{% extends 'layout/layout.html' %}
{% block title %}项目管理{% endblock %}
{% block css %}
    <style>

    </style>
{% endblock %}

{% block content %}
    {% include 'layout/left.html' %}
    <div class="fly-panel fly-panel-user" pad20="">
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">参与的项目</li>
                <li lay-id="avatar" class="">创建的项目</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form layui-form-pane layui-tab-item layui-show">
                    参与的项目
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">
                    创建的项目
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            layer.msg('项目管理', {icon: 1});
        });
    </script>
{% endblock %}